body {
    padding-top: 50px;
}

input{
  width: 50%;
  display: inline-block;
  border: 1px solid lightblue;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

textarea{
  width: 50%;
  display: inline-block;
  border: 1px solid lightblue;
  padding: 10px;
}

button{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #79e231;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 0.4s;
}

button:hover{
  background-color: #79e231;
  color: white;
}

.flashes{
  margin: auto auto;
  list-style-type: none;
  width: 100%;
  background-color: lightgreen;
}

ul.proflist{
  margin-top: 50px;
  list-style: none;
}

.proflist li{
  display: flex;
  border-top-style: solid;
  border-top-color: blue;
  border-radius: 10px;
  box-shadow: 1px 3px 4px gray;
  padding: 10px;
  margin: 20px;
}

.proflist div{
  padding-left: 20px;
}

.proflist img{
  width: 150px;
}
