

{% block main %}
    <div class="prosplash">
      <div class="lead">
        <img src="{{ url_for('static',filename='uploads/' + user.photoname) }}">
      </div>
      <div class="who">
        <h3 class="head">{{ "{} {}".format(user.first_name, user.last_name) }}</h3>
        <ul class="oinfo">
          <li class="email">{{user.email}}</li>
          <li class="where">{{user.location}}</li>
          <li class="when">Joined on {{ user.getdate() }}</li>
        </ul>
      </div>
      <div class="desc">
        <h5>About me</h5>
        <p>{{ user.biography }}</p>
        <button type="button" name="message">Send Message</button>
        <button type="button" name="Follow">Follow</button>
      </div>
    </div>
{% endblock %}
