{% extends "base.html" %}

{% block main %}
    <div class="lead">
      <img src="{{ url_for('static',filename='uploads/' + user.photoname) }}">
      <h2 class="head">{{ "{} {}".format(user.first_name, user.last_name) }}</h2>
      <div class="oinfo">
        <p> {{user.email}} </p>
        <p> {{user.location}} </p>
        <p> Date Joined: Today </p>
      </div>
    </div>
    <div class="who">
      <div class="desc">
        <p>{{ user.biography }}</p>
      </div>
      <div class="vanis">
        <table>
          <tr>
            <th>1</th>
            <th>100</th>
            <th>250</th>
          </tr>
          <td>Posts</td>
          <td>Followers</td>
          <td>Following</td>
        </table>
        <button type="button" name="message">Send Message</button>
        <button type="button" name="Follow">Follow</button>
      </div>
    </div>
{% endblock %}
